beginner_projects/my_chatbot.py
beginner_projects/moon_planet.py
beginner_projects/hangman.py
beginner_projects/guess_the_number.py
beginner_projects/payer.py
beginner_projects/rock_paper_scissors.py
beginner_projects/somepythonproject.py
beginner_projects/training_strings_concat.py
beginner_projects/turtle_test.py
beginner_projects/words.py
beginner_projects/game.py
some_class_stuff/__pycache__/**
